%h1.fs-2 
  #{@daily_report.created_at.strftime('%Y/%m/%d')} 日報

= link_to 'タスク追加', new_daily_report_task_path(@daily_report), class: 'btn btn-primary'

.row.mt-3
%ul
  - @tasks.each do |task|
    %li.mb-5
      .d-flex.align-items-center
        .fs-3= task.name
        = link_to '事実の追加', new_daily_report_fact_path(params[:id], task_id:task.id), class: 'btn btn-secondary btn-sm ms-3'
      - task.facts.each do |fact|
        .ms-3=link_to fact.title, daily_report_fact_path(params[:id], fact)
