%h1.fs-2 日報

%h2.fs-3 今日やったこと

= link_to 'タスク追加', new_daily_report_task_path(@daily_report)

- @tasks.each do |task|
  = task.name
  = link_to '事実の追加', new_daily_report_fact_path(params[:id], task_id:task.id), class: 'btn btn-primary'
  - task.facts.each do |fact|
    =link_to fact.title, daily_report_fact_path(params[:id], fact)
